*{
    margin:0;
padding: 0;
}
header{ 
   display: flex;
}
.cabecalho{
   background-color: #141414;
   font-size: 50px;
   color: aliceblue;
   display: flex;
}

.estrelinha{
   right:40% ;
  width: 5px;
}
section{
   background-color: #252525;
}
li{
  right: 0;
}