*{
    margin:0;
padding: 0;
}
header{ 
   display: flex;
}
.cabecalho{
   background-color: #141414;
   font-size: 50px;
   color: aliceblue;
   display: flex;
   width: 100%;
   padding: 10%;
}


section{
   background-color: #252525;
}
ul {
   position: absolute;
   top: 0;
   right: 0;
   background-color: #0f0f0f; /* Cor de fundo opcional */
   padding: 5px; /* Espaçamento interno opcional */
}


.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

img {
   width: 200px;
}